---
import Layout from "../layouts/Layout.astro";
---
<Layout>
  <h1>
    Ups this is a 404 error.
  </h1>
  <a href="/">
    => We go again!
  </a>
</Layout>
<style>
  a {
    @apply hover:font-bold;
  }

</style>

