---
import MySiteLayout from '../layouts/MySiteLayout.astro';
import Button from '../components/Button.astro';
import { SITE } from '../config';
---
<MySiteLayout title={SITE.title} greeting={SITE.greeting}>
  <p>{SITE.authorPresentation}</p>
  If you want to see my work experience, you can check my
  <Button ref={SITE.cv}>
  resume
  </Button>
  for more information.
</MySiteLayout>
<style>
  p {
    @apply mb-6 mt-2;
  }
</style>