---
import MySiteLayout from '@/layouts/MySiteLayout.astro';
import { SITE } from '@/config';
import ModalPDF from '@/components/ModalPDF.astro';
import ButtonPDF from '@/components/ButtonPDF.astro';
---
<MySiteLayout title={SITE.title}>
  <div class="flex flex-col md:flex-row items-center justify-center">
    <div class="order-last md:order-first text-center md:text-left">
      <p class="text-4xl font-[1000]">{SITE.profession}<p/>
      <p class="mb-6 mt-2">{SITE.authorPresentation}</p>
      <p>
        If you want to see my work experience, you can check my
        <ButtonPDF pdfSrc={SITE.cv}>resume</ButtonPDF>
        for more information.
      </p>
    </div>
    <div class="order-first md:order-last shrink-0 mb-4 md:mb-0">
      <img class="w-64 object-cover md:w-64 rounded-full shadow-lg shadow-stone-300" src="/img/Foto.png">
    </div>
  </div>
  <ModalPDF />
</MySiteLayout>