---
import MySiteLayout from '@/layouts/MySiteLayout.astro';
import { SITE } from '@/config';
import Button from '@/components/Button';
---
<MySiteLayout title={SITE.title}>
  <div class="flex flex-col md:flex-row items-center justify-center">
    <div class="order-last md:order-first text-center md:text-left">
      <p class="mb-2 text-4xl font-bold" style="text-shadow: 1px 1px 1px rgb(87 83 78);">{SITE.profession}<p/>
      <p class="mb-6 mr-2">{SITE.authorPresentation}</p>
      <p>
        If you want to see my work experience, you can check my
        <Button pdf={SITE.cv} name={"resume"} client:only/>
        for more information.
      </p>
    </div>
    <div class="order-first md:order-last shrink-0 mb-4 md:mb-0">
      <img class="w-64 object-cover rounded-full shadow-lg shadow-stone-300" src="/img/profile-small.webp" alt="">
    </div>
  </div>
</MySiteLayout>