---
import MySiteLayout from '../layouts/MySiteLayout.astro';
import { SITE } from '../config';
---
<MySiteLayout title={SITE.title} greeting={SITE.greeting}>
  <p>{SITE.authorPresentation}</p>
</MySiteLayout>
<style>
  p {
    @apply mb-6 mt-2;
  }
</style>