---
const { ref } = Astro.props
---
<a
href={ref}
tabindex=0
class="group inline-block"
target="_blank"
>
  <slot />
</a>
<style>
  a {
    @apply hover:text-bn-light underline underline-offset-4 decoration-dashed;
  }
</style>