---
const { pdfSrc } = Astro.props;
---
<astro-btn data-pdf={pdfSrc}>
  <button class="inline p-0 hover:text-red-700 font-bold underline underline-offset-4 decoration-dashed">
    <slot/>
  </button>
</astro-btn>


<script>
  class AstroBtn extends HTMLElement {
    constructor() {
      super();

      const pdfSrc = this.dataset.pdf;
      const button = this.querySelector('button');
      const pdfModal = document.getElementById('pdfModal');
      const pdfIframe = document.getElementById('pdfIframe');
      button!.addEventListener('click', () => {
        if (pdfIframe && pdfModal) {
          pdfIframe.src = pdfSrc;
          pdfModal.style.display = 'block';
        } else {
          alert("The PDF file cannot be viewed.")
        }
      });
    }
  }
  customElements.define('astro-btn', AstroBtn);
</script>
