---
const dateTime: Date = new Date();
import { IconRss } from '@tabler/icons-react';
---

<footer class="h-8">
  <div class="flex h-full">
    <div class="pt-1 shrink-0">
      Last update: {dateTime.toLocaleDateString("en-US", {
        year: "numeric", month: "short", day: "numeric"})}
    </div>
    <a class="pt-1.5 hover:text-red-700" href="feed.xml" target="_blank" title="RSS Feed">
      <IconRss size={18} stroke={4}/>
    </a>
  </div>
</footer>