---
const { title } = Astro.props
---
<nav id="nav-container">
  <a href="/">
    <h1>{title}</h1>
  </a>
    
</nav>


<style>
  #nav-container {
    @apply mx-auto w-full max-w-3xl px-4 mt-6 mb-6;
  }
  h1 {
    @apply text-2xl font-bold;
  }
</style>