---
---
<astro-modal-pdf>
  <div id="pdfModal" class="hidden fixed top-0 left-0 w-full h-full bg-stone-600 bg-opacity-50">
    <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-screen md:w-[600px] h-screen md:h-[820px] bg-white p-3 md:p-5 md:rounded-2xl">
      <span class="absolute top-0 md:top-1 right-1 md:right-2 cursor-pointer text-gray-500 hover:text-black" >&times;</span>
      <iframe id="pdfIframe" src="" class="w-full h-full rounded-t-xl"></iframe>
    </div>
  </div>
</astro-modal-pdf>


<script>
  class AstroModalPDF extends HTMLElement {
    constructor() {
      super();

      const closeModalBtn = this.querySelector('span');
      const pdfModal = this.querySelector('div');
      const pdfIframe = this.querySelector('iframe');

      closeModalBtn!.addEventListener('click', function () {
        pdfModal!.style.display = 'none';
        pdfIframe!.src = '';
      });

      window.addEventListener('click', function (event) {
          if (event.target === pdfModal) {
            pdfModal!.style.display = 'none';
            pdfIframe!.src = '';
          }
      });
    }
  }
  customElements.define('astro-modal-pdf', AstroModalPDF);
</script>