---
const { ref } = Astro.props
---
<a
class="hover:text-red-700 font-bold underline underline-offset-4 decoration-dashed"
href={ref}
tabindex=0
class="group inline-block"
target="_blank"
>
  <slot />
</a>